@import '@/common/styles/common.scss';

.card{
    max-width: 373px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover{
        .cardImage{
            img{
                transform: scale(1.2);
            }
        }
    }

    .cardImage{
        width: 100%;
        height: 260px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{
            height: 100%;
            // object-fit: contain;
            transition: all ease-out 0.2s;
        }
    }

    .cardInfo{
        flex: 1;
        padding: 27px;
        background-color: #363636;

        .title{
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 16px;

            @include Responsive(SM){
                font-size: 18px;
            }
        }

        .desc{
            font-size: 14px;
            color: $color_text_secondary;

            @include Responsive(MD){
            }
        }
    }
}